*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stopwatch--timers{
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 3rem;
}

.stopwatch--timers:hover{
  cursor:not-allowed;
}

.stopwatch--timers h3{
  margin-right: 0.125rem;
}

.stopwatch--timers--hours, .stopwatch--timers--minutes, .stopwatch--timers--seconds{
  border: 0.1rem solid white;
  padding: 0.2rem;
  border-radius: 0.23rem;
}

.stopwatch--timers--button button{
  background: inherit;
  font-size: 2rem;
  margin-right: 1rem;
  color: white;
  border: none;
  padding: 1rem;
}

.stopwatch--timers--button button:hover{
  color: red;
  cursor: pointer;
}


.stopwatch--container{
  background-image: url("../public/images/background.png");
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.percent--bar--main--container{
  width: 200px;
  border: 0.1rem solid black;
  height: 20px;
}

.percent--bar{
  width: 80%;
  background-color: green;
}